<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789094005698-b2io9kpj1p9hnqs1sgchtae4m79jnetv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789094005698-b2io9kpj1p9hnqs1sgchtae4m79jnetv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>789094005698-1bjodv8i73rp6d0u2qo1q7mmh9rknq5p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDTgTp3Wf-My0W8F3lKiSZiW7QIbiEeI0</string>
	<key>GCM_SENDER_ID</key>
	<string>789094005698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owllabs.flavor</string>
	<key>PROJECT_ID</key>
	<string>flavor-59670</string>
	<key>STORAGE_BUCKET</key>
	<string>flavor-59670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789094005698:ios:1fc241429654f8ca1f745b</string>
</dict>
</plist>